{% extends 'base.html' %}

{% block main %}

<div class="text-center">
    <h1>Produção Diária</h1>
    <h2 class="text-muted">Insira os Dados da Produção </h2>
    <hr>
</div>
<form action="">
    <div class="input-group">
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina1" class="input-group-text">maquina1</label>
            <input type="number" class="form-control me-3" id="maquina1" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina2" class="input-group-text">maquina2</label>
            <input type="number" class="form-control me-3" id="maquina2" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina3" class="input-group-text">maquina3</label>
            <input type="number" class="form-control me-3" id="maquina3" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina4" class="input-group-text">maquina4</label>
            <input type="number" class="form-control me-3" id="maquina4" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina5" class="input-group-text">maquina5</label>
            <input type="number" class="form-control me-3" id="maquina5" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina6" class="input-group-text">maquina6</label>
            <input type="number" class="form-control me-3" id="maquina6" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina7" class="input-group-text">maquina7</label>
            <input type="number" class="form-control me-3" id="maquina7" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina8" class="input-group-text">maquina8</label>
            <input type="number" class="form-control me-3" id="maquina8" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina9" class="input-group-text">maquina9</label>
            <input type="number" class="form-control me-3" id="maquina9" placeholder="Operações">
        </div>
        <div class="col-4 d-flex py-3 pe-4">
            <label for="maquina10" class="input-group-text">maquina10</label>
            <input type="number" class="form-control me-3" id="maquina10" placeholder="Operações">
        </div>
    </div>
    <div class="d-flex justify-content-end col-10 mt-2"><button class="btn btn-primary">Finalizar</button></div>
</form>

{% endblock %}